.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 120px;
  width: 100%;
  background: var(--header-bg);
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  margin-bottom: 1rem;
  color: var(--header-text);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 100%;
  max-width: 100%; /* matches height for square logo */
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  border-radius: 8%;
}

.titleContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-width: 0;
  margin-left: 2rem;
  margin-bottom: 3%;
}

.switchTheme {
  padding-left: 2rem;
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  height: 100%;
  min-width: 0;
  justify-content: flex-end;
}

.headerTitle {
  margin: 0;
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--header-text);
  word-break: break-word;
  text-align:  center;
  width: 100%;
}